.App {
  text-align: center;
/* padding: 100px; */
  /* background-image: url(./402107330_WHITE_WAVES_400px.png); */
  /* background-size: cover; */
  /* margin-left: 560px;
  margin-top: 150px;
  border: 5px double black;
  width: 400px;
  height: 400px;
  box-shadow: 5px 5px 10px black;
  background-color: thistle;
  border-radius: 50%; */
}
/* .login {
  color: black;
}
#button {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: solid 0px;
}
.login_center {
  margin-top: 90px;
}
.botton-hover :hover {
  color: thistle;
} */
